body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-82px;
  width:360px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1539_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:599px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1539 {
  position:absolute;
  left:82px;
  top:60px;
  width:360px;
  height:599px;
}
#u1540 {
  position:absolute;
  left:2px;
  top:292px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1541_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:41px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1541 {
  position:absolute;
  left:182px;
  top:659px;
  width:260px;
  height:41px;
  font-family:'微软雅黑';
  font-weight:410;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u1542 {
  position:absolute;
  left:2px;
  top:7px;
  width:256px;
  word-wrap:break-word;
}
#u1543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:42px;
}
#u1543 {
  position:absolute;
  left:82px;
  top:659px;
  width:100px;
  height:41px;
  opacity:0.6;
  font-family:'隶书';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#666666;
}
#u1543_img.mouseOver {
}
#u1543.mouseOver {
}
#u1544 {
  position:absolute;
  left:2px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u1545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u1545 {
  position:absolute;
  left:177px;
  top:121px;
  width:170px;
  height:170px;
  color:#999999;
}
#u1546 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  word-wrap:break-word;
}
#u1547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1547 {
  position:absolute;
  left:226px;
  top:301px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1548 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1549_img {
  position:absolute;
  left:0px;
  top:0px;
  width:306px;
  height:2px;
}
#u1549 {
  position:absolute;
  left:110px;
  top:333px;
  width:305px;
  height:1px;
}
#u1550 {
  position:absolute;
  left:2px;
  top:-8px;
  width:301px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1551_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1551 {
  position:absolute;
  left:110px;
  top:344px;
  width:305px;
  height:19px;
  font-size:16px;
}
#u1552 {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  white-space:nowrap;
}
#u1553_div {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1553 {
  position:absolute;
  left:110px;
  top:381px;
  width:234px;
  height:16px;
}
#u1554 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  white-space:nowrap;
}
#u1555_div {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:52px;
  background:inherit;
  background-color:rgba(92, 184, 92, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(92, 184, 92, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  line-height:27px;
}
#u1555 {
  position:absolute;
  left:110px;
  top:440px;
  width:305px;
  height:52px;
  font-size:20px;
  color:#FFFFFF;
  line-height:27px;
}
#u1555_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:52px;
  background:inherit;
  background-color:rgba(68, 157, 68, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(65, 150, 65, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  line-height:27px;
}
#u1555.mouseOver {
}
#u1555_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:52px;
  background:inherit;
  background-color:rgba(92, 184, 92, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(92, 184, 92, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
  line-height:27px;
}
#u1555.disabled {
  opacity:0.649999976158142;
}
#u1556 {
  position:absolute;
  left:20px;
  top:12px;
  width:265px;
  word-wrap:break-word;
}
